@{
    ViewData["Title"] = "Account Settings";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to view your account settings</p>

<!DOCTYPE html>
<html>
<form method="post">
    <label>Username:</label>
    <br />
    <input type="text" />
    <br />
    <label>Password:</label>
    <br />
    <input type="text" />
    <input type="submit" value="Enter" />
</form>
</html>